// DAL overrides

// --global--font-primary: 'Iosevka'
.site-footer {
	display: none;
}

p {
	margin-bottom: var(--global--spacing-unit);
}

body {
	font-family: Iosevka, sans-serif;
}

#wpadminbar {
	display: none;
}
