$dal-orange: #eb6142;
// DAL overrides

// --global--font-primary: 'Iosevka'
.site-footer {
	display: none;
}

p {
	margin-bottom: var(--global--spacing-unit);
}

body {
	font-family: Iosevka, sans-serif;
}

#wpadminbar {
	display: none;
}

.site-header {
	padding: 0;
	justify-content: space-between;
}

.site-main {
	padding-top: 0;
}

.site-branding {
	margin: 0;
}

.site-logo {
	margin-right: 0;

	img {
		@include media(mobile-only) {
			max-height: 100% !important;
		}
	}
}

#site-navigation,
.site-logo,
.menu-button-container {
	position: initial !important;
}

.custom-logo-link {
	display: inline-block;
}

.post-thumbnail {
	display: none;
}

.entry-content {
	margin-top: 0 !important;
}

.primary-navigation a {

	&:hover,
	&:focus {
		color: $dal-orange !important;
		text-decoration: none !important;
		box-shadow: 0 3px 0 0 $dal-orange;
		background-color: transparent !important;
	}

	&:active {
		color: $dal-orange !important;
	}
}

.current-menu-item > a:first-child,
.primary-navigation .current_page_item > a:first-child {
	color: $dal-orange;
	text-decoration: none;
	box-shadow: 0 3px 0 0 $dal-orange;

	&:hover,
	&:focus {
		text-decoration: none;
	}
}

.site-header.has-logo:not(.has-title-and-tagline).has-menu .site-logo {
	@include media(mobile-only) {
		top: 0;
	}
}

.primary-navigation {
	// Vertically centre
	@include media(mobile-only) {
		top: 7px;
	}
}

/* Topbar */
.dal-topbar {
	background-color: #f0eded;
	text-align: right;
	padding: 5px 0;
}

.dal-topbar-container {
	max-width: var(--responsive--alignwide-width);
	margin: 0 auto;
}

.language-menu {
	display: flex;
	list-style: none;
	justify-content: flex-end;
	font-size: 1rem;

	li:first-child {
		margin-right: 20px;
	}

	.current-lang a {
		color: $dal-orange;
		text-decoration: none;
	}
}

.singular {

	.entry-title {
		font-size: 4rem;
		text-align: center;
		margin-bottom: 0;
	}

	.entry-header {
		border-bottom: none;
		margin-bottom: 0;
		padding: calc(2 * var(--global--spacing-vertical)) 0;
	}

	.has-post-thumbnail .entry-header {
		padding-bottom: calc(2 * var(--global--spacing-vertical));
	}
}

.remove-bottom-margin {
	margin-bottom: 0 !important;
	padding-bottom: 0 !important;
}

.remove-top-margin {
	padding-top: 0 !important;
	margin-top: 0 !important;
}
