// DAL overrides

// --global--font-primary: 'Iosevka'
.site-footer {
	display: none;
}

p {
	margin-bottom: var(--global--spacing-unit);
}

body {
	font-family: Iosevka, sans-serif;
}

#wpadminbar {
	display: none;
}

.site-header {
	padding: 0;

	@include media(mobile-only) {
		padding-top: calc(0.75 * var(--global--spacing-vertical));
		padding-bottom: calc(2 * var(--global--spacing-vertical));
	}
}
